body {background-color: #BBBBBB}

.red_button {
  @include button(shiny, #ff0000);
  &:hover { background-color: #F88000; }
}

a {
  color: #2D6DD2;
}


.data_table table{
	border: 1px solid #e3e3e3;
	background-color: #f2f2f2;
	border-radius: 6px;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
.data_table table td, .data_table table th {
	padding: 5px;
	color: #333;
}
.data_table table thead {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: .2em 0 .2em .5em;
	text-align: left;
	color: #4B4B4B;
	background-color: #C8C8C8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e3e3e3), color-stop(.6,#B3B3B3));
	background-image: -moz-linear-gradient(top, #D6D6D6, #B0B0B0, #B3B3B3 90%);
	border-bottom: solid 1px #999;
}
.data_table table th {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 20px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-shadow: white 1px 1px 1px;
}
.data_table table td {
	line-height: 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
.data_table table td:hover {
	background-color: #fff;
}


#container {
  margin: 0 100px;

  h1, h2,h3 {
    text-align: center;
    font-family: $verdana;
  }
  
  h1 { font-size: 30px;}
  h2 { color: shade(blue, 80%); font-weight: bold;}
  h3 { font-size: 15px; }
  
  
  #main_form {
    .dates, .formats {
      margin:  20px 0;
     }

    .date_pickers {
      width: 370px;
      margin: 0 auto;
      .date {
        display: inline-block;
        &:first-child {
          margin: 0 20px 0 0;
        }
      }
    }
    .formats {
      text-align: center;
      .format {
        display: inline-block;
      }
     }
    .parse_button_div {
      text-align: center;
    }
  }  
  #result {
    margin:  20px 0;
    text-align: center;
    #error_message {
      display: none;
      color: red;
    }
  }
}
